[fan_generic auxiliary_part_cooling_fan]
pin:PA8
shutdown_speed: 0.0
cycle_time: 0.0100
hardware_pwm: false
kick_start_time: 0.100
off_below: 0.0

[fan_generic chamber_circulation_fan]
pin:PC9
shutdown_speed: 0.0
cycle_time: 0.100
hardware_pwm: false
kick_start_time: 0.100
off_below: 0.0

[heater_fan chamber_heater_fan]
pin:PA4
max_power: 1.0
shutdown_speed: 0
kick_start_time: 0.5
heater: chamber_heater
heater_temp: 40
fan_speed: 1.0
off_below: 0

[heater_fan hotend_fan]
pin:th:gpio25
max_power: 1.0
shutdown_speed:1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 60.0
fan_speed: 1.0
off_below: 0

[heater_fan hotend_fan2]
pin:th:gpio11
max_power: 1.0
shutdown_speed:1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 60.0
fan_speed: 1.0
off_below: 0

[fan_generic cooling_fan]
pin:th:gpio2
max_power: 1.0
shutdown_speed: 0
cycle_time: 0.0100
hardware_pwm: false
kick_start_time: 0.100
off_below: 0.0

#[fan_generic board_fan]
#pin:PC4
#max_power:1.0
#shutdown_speed:1.0

[controller_fan MCU_fan]
pin:PC4
max_power:1.0
shutdown_speed:1.0
#cycle_time:
#hardware_pwm:
#kick_start_time:
#off_below:
#tachometer_pin:
#tachometer_ppr:
#tachometer_poll_interval:
#enable_pin:
#   See the "fan" section for a description of the above parameters.
#fan_speed: 1.0
#   The fan speed (expressed as a value from 0.0 to 1.0) that the fan
#   will be set to when a heater or stepper driver is active.
#   The default is 1.0
#idle_timeout:
#   The amount of time (in seconds) after a stepper driver or heater
#   was active and the fan should be kept running. The default
#   is 30 seconds.
#idle_speed:
#   The fan speed (expressed as a value from 0.0 to 1.0) that the fan
#   will be set to when a heater or stepper driver was active and
#   before the idle_timeout is reached. The default is fan_speed.
#heater:
stepper:stepper_x, stepper_y, stepper_z, stepper_z1
#   Name of the config section defining the heater/stepper that this fan
#   is associated with. If a comma separated list of heater/stepper names
#   is provided here, then the fan will be enabled when any of the given
#   heaters/steppers are enabled. The default heater is "extruder", the
#   default stepper is all of them.

[temperature_sensor host]
sensor_type: temperature_host

[temperature_sensor toolhead_board_mcu]
sensor_type: temperature_mcu

[temperature_sensor mainboard_mcu]
sensor_type: temperature_mcu
sensor_mcu: th

[gcode_macro M106]
description: set fan speed (aux/cooling/circulation)
gcode:
    {% set p = params.P|default(0)|int %}

    {% if p == 2 %}
    {% if params.S is defined %}
        SET_FAN_SPEED FAN=auxiliary_part_cooling_fan SPEED={(params.S|float / 255.0)}
    {% else %}
        SET_FAN_SPEED FAN=auxiliary_part_cooling_fan SPEED=1
    {% endif %}
    {% endif %}

    {% if p == 0 %}
    {% if params.S is defined %}
        SET_FAN_SPEED FAN=cooling_fan SPEED={(params.S|float / 255.0)}
    {% else %}
        SET_FAN_SPEED FAN=cooling_fan SPEED=1
    {% endif %}
    {% endif %}

    {% if p == 3 %}
    {% if params.S is defined %}
        SET_FAN_SPEED FAN=chamber_circulation_fan SPEED={(params.S|float / 255.0)}
    {% else %}
        SET_FAN_SPEED FAN=chamber_circulation_fan SPEED=1
    {% endif %}
    {% endif %}