[gcode_macro Nozzle_Wiper_Variables]
# the values below are for a wiper located at (-8, 121)
variable_purge_x:       96  # x purge location
variable_purge_y:       252 # y purge location
variable_purge_x_entry: 96   # x entry location before going to the purge location
variable_purge_y_entry: 240 # y entry location before going to the purge location
variable_wipe_dx:       -32  # distance to move in x from the purge position in order to wipe
variable_wipe_dy:       0 # distance to move in y from the purge position in order to wipe
variable_wipe_count:    6   # number of wipe cycles
variable_travel_speed:  100 # how fast travel speeds will be performed
variable_entry_speed:   50 # how fast to move from the entry location to the purge location
variable_wipe_speed:    40  # how fast to move when wiping
variable_purge_speed:   8   # how fast to extrude in mm/s when purging
variable_purge_fan:     40  # default fan speed out of 255 when purging
variable_wipe_fan:      255 # default fan speed out of 255 when wiping
gcode:

[gcode_macro Go_To_Purge_Location]
gcode:
    {% set Px = printer["gcode_macro Nozzle_Wiper_Variables"].purge_x|float %}
    {% set Py = printer["gcode_macro Nozzle_Wiper_Variables"].purge_y|float %}
    {% set Pxe = printer["gcode_macro Nozzle_Wiper_Variables"].purge_x_entry|float %}
    {% set Pye = printer["gcode_macro Nozzle_Wiper_Variables"].purge_y_entry|float %}
    {% set St = printer["gcode_macro Nozzle_Wiper_Variables"].travel_speed * 60 %}
    {% set Se = printer["gcode_macro Nozzle_Wiper_Variables"].entry_speed * 60 %}

    SAVE_GCODE_STATE NAME=Go_To_Purge_Location_state
    G90
    G1 Z50

    {% if not (printer.toolhead.position.x == Px and printer.toolhead.position.y == Py) %}
        G1 X{Pxe} Y{Pye} F{St}
        G1 X{Px} Y{Py} F{Se}
    {% endif %}

    RESTORE_GCODE_STATE NAME=Go_To_Purge_Location_state

[gcode_macro Wipe_Nozzle]
#  params:
#   OLD_FAN_SPEED
gcode:
    {% set OLD_FAN_SPEED = params.OLD_FAN_SPEED|default(-1)|int %}
    {% set Px = printer["gcode_macro Nozzle_Wiper_Variables"].purge_x|float %}
    {% set Py = printer["gcode_macro Nozzle_Wiper_Variables"].purge_y|float %}
    {% set Pxe = printer["gcode_macro Nozzle_Wiper_Variables"].purge_x_entry|float %}
    {% set Pye = printer["gcode_macro Nozzle_Wiper_Variables"].purge_y_entry|float %}
    {% set Wdx = printer["gcode_macro Nozzle_Wiper_Variables"].wipe_dx|float %}
    {% set Wdy = printer["gcode_macro Nozzle_Wiper_Variables"].wipe_dy|float %}
    {% set Wc = printer["gcode_macro Nozzle_Wiper_Variables"].wipe_count|int %}
    {% set Se = printer["gcode_macro Nozzle_Wiper_Variables"].entry_speed * 60 %}
    {% set Sw = printer["gcode_macro Nozzle_Wiper_Variables"].wipe_speed * 60 %}
    {% set Sf = printer["gcode_macro Nozzle_Wiper_Variables"].wipe_fan %}
    
    #{% if OLD_FAN_SPEED == -1 %}
    #    {% set old_Sf = printer.cooling_fan.speed %}
    #{% else %}
    #    {% set old_Sf = OLD_FAN_SPEED %}
    #{% endif %}
    
    #{% if printer.cooling_fan.speed < Sf %}
    #    {% set wait_for_fan = True %}
    #{% else %}
    #    {% set wait_for_fan = False %}
    #{% endif %}

    SAVE_GCODE_STATE NAME=Wipe_Nozzle_state
    G90

    # go to purge location
    Go_To_Purge_Location

    # set fan speed for wiping
    M106 P0 S{Sf}
    
    # wait for fan to cool filament if needed
    {% if wait_for_fan %}
        G4 P800
    {% endif %}

    # wipe nozzle
    G1 X{Px + Wdx} Y{Py + Wdy} F12000
    {% for i in range(Wc) %}
        G1 X{Px} Y{Py} F{Sw}
        G1 X{Px + Wdx} Y{Py + Wdy} F{Sw}
    {% endfor %}
    
    # move away from wiper
    G1 X{Pxe + Wdx} Y{Pye + Wdy} F{Se}

    # restore fan speed
    M106 P0 S0

    RESTORE_GCODE_STATE NAME=Wipe_Nozzle_state

[gcode_macro Purge]
description: Extrude into the purge bucket and wipe the nozzle
gcode:
    {% set hotendtemp = params.HOTEND|default(250)|int %}
    SAVE_GCODE_STATE NAME=Purge_state
    Go_To_Purge_Location
    M109 S{hotendtemp}
    M106 S60
    M83
    G92 E0
    G1 E40 F400
    G1 E-4 F600
    G92 E0
    M104 S0
    M106 S200
    G4 P6000
    Wipe_Nozzle
    RESTORE_GCODE_STATE NAME=Purge_state
